// Typography
$font-text: SuisseIntl, sans-serif;

// Colors
$MineShaft: #333333;
$ChateauGreen: #3DB565;

// breakpoints
$bp-desktop: 1920px;
$bp-laptop: 1600px;
$bp-tablet: 1200px;
$bp-tablet-mini: 900px;
$bp-phone-xs: 640px;
$bp-phone: 375px;