.container {
    position: relative;
    width: 100%;
    max-width: 1153px;
    padding: 0;
    margin: auto;
    overflow: hidden;

    @media screen and (max-width: $bp-tablet) {
        max-width: none;
        padding: 0 30px;
    }
}